body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    height: 100vh;
}

h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 3px;
}

p {
    color: hsl(220, 15%, 55%);
}

.qr-code {
    width: 95%;
    background-color: hsl(0, 0%, 100%);
    max-width: 260px;
    padding: 14px;
    border-radius: 18px;
    text-align: center;
}

.qr-code img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.qr-code div {
    width: 93%;
    margin: 10px auto;
    text-align: center;
}    
